{% extends 'ex/base.html' %}
{% block title %}Home page{% endblock %}

{% block body %}
{% include 'ex/nav.html' %}

<h1>Tips</h1>
<ul>
	{% for tip in tips %}
	<li>
		<p>{{ tip.content }}</p>
		<p>{{ tip.author }}</p>
		<p>{{ tip.date }}</p>
		<p>Upvote: {{ tip.define_total_upvotes }}</p>
		<p>Downvote: {{ tip.define_total_downvotes }}</p>
		{% if user.is_authenticated %}
		<form method="post" action="{% url 'vote' tip.pk %}">
			{% csrf_token %}
			<button type="submit" name="upvote" value="Upvote">Upvote</button>
			<button type="submit" name="downvote" value="Downvote">Downvote</button>
		</form>
		{% if perms.ex.can_delete_tip or tip.author.id == user.id %}
		<form method="post" action="{% url 'delete' tip.pk %}">
			{% csrf_token %}
			<button type="submit" name="delete" value="Delete">Delete</button>
		</form>
		{% endif %}
		{% endif %}
	</li>
	{% endfor %}
</ul>

{% if user.is_authenticated %}
<form method="post" action="{% url 'home' %}">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="submit" />
</form>
{% endif %}
{% endblock %}
